.card {
    padding-left: 37px;
}

.image-container {
    position: relative;
}

.badge {
    position: absolute;
    background: #FFFFFF;
    border: solid #FFFFFF;
    border-radius: 2px;
    padding: 5px 6px 4px 6px;
    margin: 6px 0px 0px 6px;
    font-family: 'Poppins';
    font-size: 10.24px;
    line-height: 110%;
    color: #222222;
}

.activity-image {
    width: 176px;
    height: 235px;
}

.card-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 9px;
    gap: 2px;
}

.star {
    width: 14px;
    height: 14px;
}

.card-stats > p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 110%;
}

.rating {
    color: #222222;
}

.rating-count {
    color: #918E9B;
}

.ellipse {
    width: 2px;
    height: 2px;
    background: #918E9B;
    border-radius: 50%;
}

.country {
    color:#918E9B;
}

.activity-description {
    margin: 8px 0px 0px 0px;
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 110%;
    color: #222222;
}

.cost {
    margin: 8px 0px 0px 0px;
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 110%;
    color: #222222;
}
